@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 

body * {
    font-family: 'Montserrat', sans-serif !important;
}

/* Widen the main centered layout container */
.main .block-container {
    max-width: 1200px !important;  /* Or any width you prefer */
    padding-left: 2rem;
    padding-right: 2rem;
}
